@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape,
.custom-shape2 {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}
/* .custom-shape2 {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
} */
/*
.costum-shape-md {
  display: block !important;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
} */

@media (min-width: 768px) {
  .custom-shape {
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
  }
  .custom-shape2 {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  }
  /* .costum-shape-md {
    display: none !important;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  } */
}
